<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header %>
    <link href="/assets/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet"/>
  </head>
  <body class="">
    <div id="global-loader"></div>
    <div class="page">
      <div class="page-main">
        <% include ../partials/headerBar %>
        <% include ../partials/navbar %>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h4 class="page-title">Quản lý đội thi</h4>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <div class="row" style="width: 100%">
                      <div class="col-md-6">
                        <div class="card-title">Danh sách đội tham gia</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                          <tr>
                            <th class="wc-15">Tên đội</th>
                            <th class="wc-15">Đội trưởng</th>
                            <th class="wc-15">Số Điện Thoại</th>
                            <% if(option == 'trang-thai'){ %>
                                <th class="wc-10">Trạng Thái</th>
                            <% } else { %>
                                <th class="wc-10">Điểm 1</th>
                                <th class="wc-10">Điểm 2</th>
                            <% } %>
                            <th class="wc-10">Hành Động</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% teams.map(team => { let disable = 'disabled'; %>
                          <tr>
                            <td><%- team.teamName %></td>
                            <td><%- team.leaderId %></td>
                            <td><%- team.member[0].phone %></td>
                            <% if(option == 'trang-thai') { %>
                                <% if(team.isPaid == true) { %>
                                    <td class="text-center"><i class='fe fe-check' style="
                                                                                                color: green;
                                                                                                font-size: 32px;
                                                                                                font-weight: bolder;
                                                                                                "></i></td>
                                <% } else { %>    
                                    <td class="text-center"><i id="<%- team._id %>" class='fe fe-minus' style="
                                                                                                color: red;
                                                                                                font-size: 32px;
                                                                                                font-weight: bolder;
                                                                                                "></i></td>
                                <% disable = 'enabled'; } %>   
                            <% } else { %>
                                <td class="text-center"><%- team.submissions[0].score %></td>
                                <td class="text-center"><%- team.submissions[1].score %></td>
                            <% } %>

                            <td align="center">
                              <a type="button" class="btn btn-icon btn-primary" href="/admin/doi/<%- team._id %>/view"><i class="fe fe-eye"></i></a>
                               <% if(option == 'trang-thai') { %>
                                  <button type="button" class="btn btn-icon btn-success" data-toggle="modal" data-target="#ispaid" <%- disable %> data-disable="<%- team._id %>" onclick="selectedId('<%- team._id %>')"><i class="fe fe fe-credit-card"></i></button>
                                 
                                <% } else { %>
                                  <button type="button" class="btn btn-icon btn-warning" data-toggle="modal"  data-score='<%- team.submissions[0].score %>,<%- team.submissions[1].score %>' data-target="#updateScore" data-id='<%- team._id %>' onclick="updateSelectedId('<%- team._id %>')"><i class="fe fe-edit"></i></button>                                
                                <% } %>
                            </td>
                          </tr>
                        <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- table-wrapper -->
                </div>
                <!-- section-wrapper -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <% include ../partials/footer %>
    </div>

    <!-- Back to top -->
    <a href="#top" id="back-to-top" style="display: inline;"
      ><i class="fa fa-angle-up"></i
    ></a>

    <% include ../partials/scripts %>
    <% include ./paid %>
    <% include ./updateScore %>
    <!-- Data tables -->
    <script>
      var selectedId = "";
    </script>
    <script src="/assets/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="/assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>
    <script>
      $(function(e) {
        $("#example").DataTable();
      });
      function updateSelectedId(id) {
        let scores = $('button[data-id="'+ id +'"]')[0].getAttribute('data-score').split(',');
        let inputScore = $('input[name="score"]');
        inputScore[0].value = scores[0];
        inputScore[1].value = scores[1];
        $('form[action="linkToUpdateScore"]')[0].setAttribute('action', 'doi/'+ id +'/update-score')
      }
      
      function selectedId(id) {
        selectedId = id;
      }
         function paid() {
        $.ajax({
          url: `/admin/doi/trang-thai/${selectedId}/thanh-toan`,
          method: "POST",
          success: function(result) {
            $('button[data-disable="'+ selectedId + '"]')[0].disabled = true;
            $('button[data-dismiss="modal"]').trigger('click');
            $('#' + selectedId).removeClass('fe-minus');
            $('#' + selectedId).addClass('fe-check');
          }
        })
       
      }
    </script>
  </body>
</html>
